/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

:root{
    --sidebar-color: #242e3b;
    --searchbar--color: #6a7788;
    --cards-color: #edf5f3;
    --sidebar-text-color: #ecfdf5;
    --buttons-color: #47ce98;
}

.container{
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: 1fr 5fr;
    height:100vh;
}

.sidebar{
    display: flex;
    flex-direction: column;
    grid-area: 1/1/3/2;
    background-color: var(--sidebar-color);
    padding:max(1vw, 5px);
    font-size: max(1vw,25px);
    color: var(--sidebar-text-color);
    }

.sidebar>div{
    display:flex;
    align-items: center;
}

.sidebar>div>img{
    height:27px;
    width:30px;
    padding-right: 8px;
}

.sidebar>div>ul>li>a>img{
    height:20px;
    width:20px;
    margin-bottom: -2px;
    padding-right: 8px;
}

.sidebar>div>ul>li:hover{
    transform: scale(1.1);
    }

.sidebar>div>ul>li:active{
   transform:translateY(3px);
}

a{
    text-decoration: none;
    color: var(--cards-color);
}

.sidebar>*{
    padding-bottom: max(3vw, 30px);
}

.sidebar>h1{
    font-size: max(1.5vw, 30px);
}

.sidebar>div>ul>li{
    padding-bottom: 8px;
}

.header{
    padding-left:20px;
    padding-right: 20px;
    grid-area: 1/2/2/3;
    display: grid;
    grid-template-rows: 1fr 1fr;
    background-color: var(--cards-color);
}

.header-up{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex:1;
    }

.header-down{
    display:flex;
    justify-content: space-between;
    align-items: center;
    flex:1;
    padding-top: 10px;
    padding-bottom: 5px;
}

.header-up>form{
    display:flex;
    flex:1;
}

.header-up>form>button>img{
    width:25px;
    height:25px;
    padding-right: 10px;
}

.header-up>form>button{
    border: none;
    background-color: var(--cards-color);
}

.header-up>form>input{
    flex:1;
    border-radius: 15px;
    border: none;
    height: 30px;
    background-color: var(--searchbar--color);
    margin-right: max(10px, 25vw);
    font-size: 17px;
    padding-left:10px;
 }

.header-buttons {
    display:flex;
    gap: 30px;
     }

.header-buttons>button{
    padding:3px 10px;
    font-size: 17px;
    font-weight: 600;
    border-radius: 15px;
    width:90px;
    background-color: var(--buttons-color);
}

button:hover{
    transform: scale(1.1);
}

button:active{
    transform: translateY(3px);
}

.main{
    grid-area: 2/2/3/3;
    display:grid;
    grid-template-columns: 3fr 1fr;
    grid-template-rows: 1fr 6fr 1fr 6fr;
    background-color: var(--searchbar--color);
    gap:10px;
    padding:20px;
    padding-top: 0px;
    width: max(80vw, 800px);
}

.titles-for-main{
    display:grid;
    align-items: end;
}

.projects{
    grid-area: 2/1/5/2;
    display:grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
}

.card{
    display:flex;
    align-items: stretch;
    background-color: var(--cards-color);
    border-radius: 5px;
    padding:5px;
}

.side-color{
    background-color: var(--buttons-color);
    margin: -5px;
    width:10px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    }

.project-card{
    display:flex;
    flex:1;
    flex-direction: column;
    justify-content: space-around;
    align-items:space-around;
}

.project-card>img{
    height: auto;
    width: 27.5vw;
    margin-left: 15px;
    border: 2px solid black;
    border-radius: 10px;
}

.project-card>h3{
    padding: 15px 15px 15px 20px;
    text-shadow: 1px 1px var(--searchbar--color);

}

.project-card>div{
    display: flex;
    justify-content: flex-end;
}

.project-card>div>a>img{
    height: 30px;
    width: auto;
    margin-right:15px;
    margin-top: 5px;
}

.project-card>div>a>img:hover{
    transform: rotate(360deg) scale(1.3);
    transition: 0.5s;
}

.announcements{
    grid-area: 2/2/3/3;
    background-color: var(--cards-color);
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding:5px;
}

.announcement{
    padding:5px;
}

.trending{
    grid-area: 4/2/5/3;
    background-color: var(--cards-color);
    border-radius: 5px;
    display:flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;
}

.trending>button{
    margin: 5px;
    padding:5px;
}

.main:nth-child(5){
    grid-area: 3/2/4/3;
}

h1{
    font-size: 30px;
    font-weight: 600;
}

h2{
    font-size: 23px;
    font-weight: 600;
}

h3{
    font-size: 20px;
    font-weight: 600;
    padding-bottom: 3px;
    padding-left: 3px;
}

.announcement>p{
    padding-left:3px;
    font-size: 15px;
}

